<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über</h2>
                    <h3 class="section-subheading text-muted">Informationen über uns.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for item in site.data.about %}
                        <li class="{{ item.class }}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ item.img }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ item.h1 }}</h4>
                                    <h4 class="subheading">{{ item.h2 }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ item.text }}</p>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>